@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --background-color1: #51287377;
    --primary-color: #252041;
    --secondary-color: white;
    --primary-color-stgr:#100f1a;
    --text-color1: white;
    --text-color2: #252041;
    --box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.6);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', sans-serif;
}

p {
    font-weight: 400;
    font-size: 15px;
}

body {
    background: var(--background-color1);
    font-size: 14px;
}

.container {
    width: 80%;
    margin: 50px auto;
    border-radius: 30px;
}

.contact-box {
    background: var(--secondary-color);
    display: flex;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    background: var(--primary-color);
    color: var(--text-color1);
    border-radius: 30px;
    box-shadow: var(--box-shadow);
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input,
textarea {
    width: 100%;
    max-width: 800px;
    border: none;
    border-bottom: 1px solid var(--text-color1);
    outline: none;
    background: var(--primary-color);
}

textarea {
    box-shadow: 0 0 0.7px var(--text-color1);
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 5px;
    display: block;
    color: var(--text-color1);
    font-weight: 600;
}

button {
    background: var(--secondary-color);
    color: var(--primary-color);
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 15px;
    margin-top: 15px;
    font-weight: 900;
}
.contact-left button:hover{
    background: var(--primary-color-stgr);
    color: white;
    transition: .5s;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    
}


.contact-left h3 {
    color: var(--text-color1);
    font-weight: 900;
    margin-bottom: 35px;
    font-size: 22px;
}



.contact-right h3 {
    color: var(--primary-color);
    font-weight: 900;
    margin-bottom: 35px;
    font-size: 22px;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 15px;
}


/* Mobile Styles */
@media (max-width: 767px) {
    .contact-box {
        flex-direction: column;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .contact-left {
        padding: 20px; /* Reduced padding for a cleaner look */
        border-radius: 30px;
        box-shadow: none;
    }

    .contact-right {
        padding: 30px;
        border-radius: 0;
        box-shadow: none;
    }

    .input-row {
        flex-direction: column;
        gap: 10px; /* Increased spacing between input groups */
    }

    input, textarea {
        border-bottom: none;
        border: 1px solid var(--text-color1);
        padding: 10px; /* Increased padding for better touch interaction */
        width: 90%;
    }

    label {
        margin-bottom: 3px; /* Slightly reduced margin for labels */
    }

    button {
        margin-top: 15px; /* Slightly increased top margin for button */
    }
}