
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Oxanium' , sans-serif;
}
p{
    font-family: Times, serif;
}
:root{
    --background-color1: #51287377;
}
body{
    background: var(--background-color1);
    font-size: 14px;
}
.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: white;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #252041;
    color: white;
}

h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #252041;
    outline: none;
}